<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>home</title>
    <link type="image/x-icon" href="/static/icon/my.ico" rel="icon">
    <!-- css -->
    {#TODO: css样式 #}
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- js -->
    {#TODO: js逻辑 #}
{#    <script src="/static/js/jquery.min.js"></script>#}
{#    <script src="/static/js/bootstrap.min.js"></script>#}
</head>

<body>

<header style="height: 6em; display: block">
    <nav class="bg-info navbar-fixed-top ">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a href="/" ><img src="/static/icon/logo.ico" alt="hjhcos.cn"/></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
    {#            搜索引擎#}
                <form class="navbar-form navbar-right" action="https://www.baidu.com/s">
                    <div class="form-group">
                        <label>
                            <input type="hidden" name="ie" value="utf-8">
                            <input type="text" class="form-control" placeholder="search" name="wd" value>
                            <input type="hidden" name="ct" value="2097152">
                            <input type="hidden" name="si" value="hjhcos.cn">
                            <button type="submit" class="btn btn-success">搜索</button>
                        </label>
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-left">
                    <li class="active"><a href="/">首页</a></li>
                    <li ><a href="/blog/">博客</a></li>
                    <li ><a href="/api/">api接口</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>
</header>

<div class="container text-center">
    <div class="row center-block">
{#        TODO:如果屏幕小于1220 不显示阅读标签 只显示标题 或者 标题截切为三个字并显示阅读量#}
        <div class="col-md-2 col-md-12">
{#            我们可以用一个标识来决定显示blog、api、混合#}
{#            TODO: 主题切换#}
            <ul class="list-group ">
{#                TODO: 设置博客类型#}
                <a href="/" class="list-group-item active">{{ blogs_head }}</a>
{#                TODO: 添加该类型博客列表#}
                {% for blog in blogs %}
                    <li class="list-group-item">
                        <a href="{{ blog.url }}">{{ blog.title }}</a>
                        <span class="badge">{{ blog.read }}</span>
                    </li>
                {% endfor %}
            </ul>

            <ul class="list-group">
{#                TODO: 设置接口类型#}
                <a href="/" class="list-group-item active">{{ apis_head }}</a>
{#                TODO: 添加该类型接口列表#}
                {% for api in apis %}
                    <li class="list-group-item">
                        <a href="{{ api.url }}">{{ api.title }}</a>
                        <span class="badge">{{ api.read }}</span>
                    </li>
                {% endfor %}
            </ul>

        </div>
{#        TODO:如果屏幕小于980 不显示左右边框 只显示内容列表 col-md-offset-0 变为 col-md-offset-2#}
        <div class="col-md-8 col-md-12 col-md-offset-0">
            
            {% block content %}
                {#          TODO:显示文章列表#}
                <ul class="list-group table">
    {#                TODO: 设置文章简略介绍#}
                    {% for blog in blogs %}
                        <div class="panel panel-default">

                            <div class="panel-heading">
                                <a href="#" style="text-decoration: none">
                                    <h4>文章标题</h4>
                                    <span class="label label-danger">文章标签</span>
                                    <span class="label label-info">2020-12-20</span>
                                </a>
                            </div>

                            <div class="panel-body">
                                    ....{{ blog.content }}
                            </div>
                        </div>
                    {% endfor %}
                </ul>
                {#          TODO:显示分页#}
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        {% for page in pages %}
                            {% if page.id == 1 %}
                                <li><a href="{{ page.url }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                            {% endif %}
                            <li><a href="{{ page.url }}">{{ page.id }}</a></li>
                            {% if page.id == page.length %}
                                <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                            {% endif %}
                        {% endfor %}

                    </ul>
                </nav>

            {% endblock %}

        </div>

        <div class="col-md-2 col-md-12">
            <div class="btn-block center-block">
                <a href="#" class="img-transition ">
                    <img class="img-circle center-block img-thumbnail" src="/static/icon/my.png" alt="me" style="height: 64px; width: 64px">
                </a>
                <div class="panel text-center">
                    <h4 class="panel-heading">联系方式</h4>
{#                    TODO: 联系方式#}
                    <ul class="panel-body list-group box-shadow-white">
                        <li class="list-group-item">
                            <a href="#"><img src="/static/icon/wechar.png" alt="wechar" class="img-circle img-thumbnail svg"></a>
                        </li>
                        <li class="list-group-item">
                            <a href="https://outlook.live.com/mail/0/inbox"><img src="/static/icon/hotmail.png" alt="hotmail" class="img-circle img-thumbnail svg"></a>
                        </li>
                        <li class="list-group-item">
                            <a href="https://blog.csdn.net/hjh_cos"><img src="/static/icon/csdn.png" alt="wechar" class="img-circle img-thumbnail svg"></a>
                        </li>
                        <li class="list-group-item">
                            <a href="https://github.com/hjhcos"><img src="/static/icon/GitHub.png" alt="GitHub" class="img-circle img-thumbnail svg"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>