{% extends 'base/base.html' %}
{% load static %}
{% block body %}
    {% block main %}
        <header style="height: 6em; display: block">
            <nav class="bg-info">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <a href="/" ><img src="{% static 'icon/logo.ico' %}" alt="hjhcos.cn"/></a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse">
            {#            搜索引擎#}
                        <form class="navbar-form navbar-right" action="https://www.baidu.com/s">
                            <div class="form-group">
                                <label>
                                    <input type="hidden" name="ie" value="utf-8">
                                    <input type="text" class="form-control" placeholder="search" name="wd" value>
                                    <input type="hidden" name="ct" value="2097152">
                                    <input type="hidden" name="si" value="hjhcos.cn">
                                    <button type="submit" class="btn btn-success">搜索</button>
                                </label>
                            </div>
                        </form>
                        <ul class="nav navbar-nav navbar-left">
                            <li class="active"><a href="/">首页</a></li>
                            <li ><a href="/blog">博客</a></li>
                            <li ><a href="/api">api接口</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div>
            </nav>
        </header>
        <div class="container text-center">
            <div class="row center-block">

                {#        TODO:如果屏幕小于1220 不显示阅读标签 只显示标题 或者 标题截切为三个字并显示阅读量#}
                {% block left_win %}
                    <div class="col-md-2 col-md-12">

            {#            我们可以用一个标识来决定显示blog、api、混合#}
            {#            TODO: 主题切换#}
                        <ul class="list-group ">
                            <p class="list-group-item active">最新</p>
            {#                TODO: 添加该类型博客列表#}
                            {% for blog in blogs %}
                                <li class="list-group-item">
                                    <a href="{{ blog.url }}" style="text-decoration: none">{{ blog.title }}</a>
                                    <span class="badge">{{ blog.read }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endblock %}

                {#        TODO:如果屏幕小于980 不显示左右边框 只显示内容列表 col-md-offset-0 变为 col-md-offset-2#}
                {% block content_win %}
                    <div class="col-md-8 col-md-12 col-md-offset-0">
                        {#          TODO:显示文章列表#}
                        <ul class="list-group table">
                        {#          TODO: 设置文章简略介绍#}
                            {% for blog in blogs %}
                                <div class="panel panel-default">
                                    <div class="panel-heading text-center">
                                        <a href="{{ blog.url }}" style="text-decoration: none">
                                            <h4>{{ blog.title }}</h4>
                                            <span class="label label-danger">{{ blog.tag }}</span>
                                            <span class="label label-info">{{ blog.date }}</span>
                                        </a>
                                    </div>

                                    <div class="panel-body">
                                            {{ blog.text }}...
                                    </div>
                                </div>
                            {% endfor %}
                        </ul>
                        {#          TODO:显示分页#}
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                {% for page in pages %}
                                    {% if page.id == 1 %}
                                        <li><a href="{{ page.url }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                                    {% endif %}
                                    <li><a href="{{ page.url }}">{{ page.id }}</a></li>
                                    {% if page.id == page.length %}
                                        <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                {% endblock %}

                {#        关于我 联系我 个人简介#}
                {% block right_win %}
                    <div class="col-md-2 col-md-12">
                        <div class="btn-block center-block">
                            <a href="#" class="img-transition ">
                                <img class="img-circle center-block img-thumbnail" src="{% static 'icon/my.png' %}" alt="me" style="height: 64px; width: 64px">
                            </a>
                            <div class="panel text-center">
                                <h4 class="panel-heading">联系方式</h4>
            {#                    TODO: 联系方式#}
                                <ul class="panel-body list-group box-shadow-white">
                                    <li class="list-group-item">
                                        <a href="#"><img src="{% static 'icon/wechar.png' %}" alt="wechar" class="img-circle img-thumbnail svg"></a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="mailto: hjhcos@hotmail.com"><img src="{% static 'icon/hotmail.png' %}" alt="hotmail" class="img-circle img-thumbnail svg"></a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="https://blog.csdn.net/hjh_cos"><img src="{% static 'icon/csdn.png' %}" alt="wechar" class="img-circle img-thumbnail svg"></a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="https://github.com/hjhcos"><img src="{% static 'icon/GitHub.png' %}" alt="GitHub" class="img-circle img-thumbnail svg"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endblock %}

            </div>
        </div>
    {% endblock %}

    <div style="position: fixed; margin: 10px 20px; bottom: 0;">
        <div style="color: grey; padding: 10px 15px 0">
            <div>
                <p>© hjhcos.cn</p>
            </div>
        </div>
    </div>

{% endblock %}
</html>