<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="djagohandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\python\python3.6\python.exe|C:\inetpub\wwwroot\hjhcos\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
	<appSettings>
		<add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
		<add key="PYTHONPATH" value="C:\inetpub\wwwroot\hjhcos" />
		<add key="DJANGO_SETTINGS_MODULE" value="hjhcos.settings" />
		<add key="WSGI_LOG" value="C:\inetpub\wwwroot\hjhcos\error.log" />
	  </appSettings>
</configuration>
